#setup {
  background-color: #CCC;
  color: black;
  font-size: 14px;
  width: 400px;
  margin: 0px auto;
  border: solid 1px #9C9C9C;
  padding: 20px;
  h3, h4 {
    color: #3D3D3D;
  }
  #speed_selector, #level_selector {
    padding: 15px 0px;
  }
  #play {
    margin-top: 20px;
  }
}